@font-face {
  font-family: 'Ah';
  src: url(../fonts/aAhaWow.ttf) format("truetype");
  font-style: normal;
  font-weight: 200; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  min-height: 100%; }

.full {
  max-width: 100%; }

div {
  min-width: 0; }

.hero {
  height: 450px;
  background: url("../images/hero.jpg") no-repeat center;
  position: relative;
  background-size: cover; }

.containerH {
  position: relative;
  top: 15%;
  overflow: hidden;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase; }

.containerH h1 {
  font-size: 60px;
  letter-spacing: 0.2em;
  color: black;
  margin: 10px 20px;
  font-family: verdana; }

.tagline {
  font-family: tahoma;
  font-size: 30px;
  color: black;
  display: block;
  margin: 30px; }

.heroButton, .heroButtonendbutt {
  background-color: #040f07;
  margin: 50px 20px;
  padding: 20px 24px;
  display: inline-block;
  color: #ffffff;
  font-family: Verdana;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 4px #ffe639;
  transition: 0.3s all; }
  .heroButtonendbutt {
    width: 250px;
    margin-left: 0%;
    position: inherit; }

.heroButton:hover, .heroButtonendbutt:hover {
  background-color: #ffe639;
  color: black; }

.heroButton:active, .heroButtonendbutt:active {
  position: relative; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.home-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 10px; }

.home-card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto;
  grid-template-areas: "image" "text";
  margin: 30px;
  background: white;
  box-shadow: 5px 5px 15px black;
  text-align: center; }

.hi {
  grid-area: image;
  margin: 30px 0px -20px 0px; }

.ht {
  grid-area: text;
  margin: 5px 30px; }

.ht h1 {
  font-size: 50px; }

.ht p {
  font-size: 20px; }

.modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  box-align: center;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  z-index: 1; }

.modal {
  background-color: #ffff;
  width: 800px;
  height: 100vh;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.modal h1 {
  margin: 0; }

.modal p {
  opacity: 0.7;
  font-size: 14px; }

.close {
  display: block;
  width: 100%;
  border: none;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  margin-top: 10px;
  padding: 14px 28px;
  font-size: 16px;
  background-color: white; }

.close:hover {
  color: white;
  background-color: #000000; }

.shown {
  overflow: auto; }

.book {
  height: 500px;
  width: auto; }

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: auto;
  width: auto;
  gap: 20px 0px;
  grid-auto-flow: row;
  text-align: center;
  padding: 10px;
  position: inherit; }

.container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  border: 1px dashed gray;
  text-align: center;
  background-color: white;
  padding: 10px;
  font-size: 3em; }

.whoo {
  margin: auto;
  padding: 20px; }

/*General styling */
h1 {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 50px;
  font-family: Tahoma, Helvetica, sans-serif; }

h3 {
  text-align: left;
  margin-left: 50px;
  line-height: 10%;
  font-family: Tahoma, Helvetica, sans-serif; }

.gdFoo {
  width: 100%;
  height: 200px;
  position: static;
  bottom: 0;
  margin-top: auto;
  background-color: #000000;
  color: white;
  text-align: center; }
  .gdFoo.foot {
    margin-top: 20px; }

/* Top Navigation */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  width: auto; }

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 18px;
  text-decoration: none;
  font-size: 30px;
  margin: 20px; }

.topnav a.active {
  margin-bottom: 40px; }

.topnav-centered a {
  float: none;
  position: absolute;
  margin-top: -2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.topnav-right {
  float: right; }

/* top nav classes*/
/* Topnav social media hover  */
.sM {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 1s;
  height: 38px;
  width: auto; }
  .sM:hover {
    -webkit-filter: grayscale(0);
    filter: none; }

/*Name in left corner positioning*/
.navItem {
  display: block; }

/* name in left corner style */
.hom {
  font-family: Ah;
  font-weight: 200;
  font-size: 30px; }
  .hom:hover {
    border: 3px solid #FFE639; }

/* home page main content div*/
#parent {
  height: auto;
  min-height: 100%;
  display: block;
  width: auto;
  position: relative;
  margin: 30px auto;
  color: #444;
  text-align: left; }

#subjects {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  margin: 30px 5px; }

/*Grid for web and graphic pages*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  justify-items: center; }

.grItem {
  padding: 10px;
  margin: 10px;
  height: 400px;
  width: fit-content;
  background-color: #FFE639;
  border-radius: 5px;
  position: relative; }

/* web and grpahic middle navigation buttons */
.mid-parent {
  text-align: center;
  margin: 20px, 30px; }

.mid-nav {
  margin: 30px;
  margin-bottom: 90px;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: Tahoma, Helvetica, sans-serif; }
  .mid-nav:hover {
    color: white;
    border: 1px solid #000000;
    border-radius: 3%;
    padding: 10px; }

/* web and graphic paragraph class */
.wh {
  background-color: white;
  height: 75px;
  width: 300px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: -13px;
  text-align: center;
  border-radius: 10px; }

/* Web design page classes */
.big {
  display: block;
  width: 100%;
  background-color: #000000;
  position: static;
  text-align: center;
  bottom: 0;
  border: 1px solid #000000;
  display: inline-block;
  color: black;
  font-family: Arial;
  font-size: 15px;
  padding: 4px 6px;
  text-decoration: none;
  overflow: auto;
  margin: 5px auto; }

.big:hover {
  background-color: white;
  color: #000000; }

.alpha {
  text-decoration: none;
  color: white; }

.alpha:hover {
  color: #000000; }

/*website design div */
.wi {
  width: 300px;
  height: 275px;
  border: 2px solid black;
  background-color: black; }

/*Web design id*/
#web {
  position: relative;
  min-height: 100%;
  height: auto; }

/* Graphic design page classes */
/* Graphic design div*/
.gi {
  width: 300px;
  height: 275px;
  border: 2px solid black;
  background-color: white; }

/*Graphic design id*/
#graphics {
  position: relative;
  min-height: 100%;
  height: auto; }

/* footer classes */
/* resume download button */
.myResume {
  border-radius: 6px;
  border: 1px solid #FFE639;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 49px;
  text-decoration: none;
  margin: 40px 10px; }
  .myResume:hover {
    background-color: #FFE639; }

.myResume:active {
  position: relative;
  top: 1px; }

/* Website copyright */
.center {
  text-align: center; }

/* media queries */
@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto; } }

@media screen and (min-width: 1440px) {
  .parent {
    height: fit-content; } }

@media screen and (max-width: 1170px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto; }
  .grItem {
    margin: 5px auto; } }

@media screen and (max-width: 880px) {
  .topnav a.active {
    display: none; }
  .navItem {
    margin: auto;
    text-align: center; }
  .grid-container {
    display: grid;
    grid-template-columns: auto; }
  .heroButton, .heroButtonendbutt {
    margin: 10px; }
  .tagline {
    margin: 15px; } }

@media screen and (max-width: 700px) {
  /* home page div */
  #parent {
    min-height: 100%;
    height: auto;
    display: block; }
  .home-container {
    grid-template-columns: auto;
    margin: 30px 20px; }
  /*Grid on web and graphic*/
  .grid-container {
    display: grid;
    grid-template-columns: auto; }
  .grItem {
    margin: 5px auto; }
  .wi {
    margin: 5px auto; }
  .gi {
    margin: 5px auto; } }

@media screen and (max-width: 660px) {
  .topnav a {
    font-size: 50px; } }

@media screen and (max-width: 500px) {
  .containerH h1 {
    font-size: 40px;
    padding: 10px 0; }
  .tagline {
    font-size: 20px;
    margin: 10px; }
  .heroButton, .heroButtonendbutt {
    font-size: 17px;
    padding: 15px 14px;
    margin: 10px; }
  .whoo {
    font-size: 25px; } }

@media screen and (max-width: 450px) {
  .topnav-right {
    margin: 5%;
    text-align: center; }
  /* home page divs */
  .route {
    margin: 0 auto; }
  #subjects {
    margin: 0, auto;
    position: relative; } }

@media screen and (max-width: 450px) and (max-width: 449px) {
  .topnav a {
    margin: 5px; }
  .topnav-right {
    margin: 5%;
    text-align: center; }
  .containerH h1 {
    font-size: 30px;
    padding: 10px 0; }
  #subjects {
    margin: 0, auto;
    position: relative; }
  .whoo {
    font-size: 20px; }
  .parent {
    display: inline-block; } }

@media screen and (max-width: 450px) and (max-width: 350px) {
  .home-container {
    margin: 0, 10px; }
  .home-card {
    grid-template-columns: 250px; }
  .ht h1 {
    font-size: 30px; }
  .ht p {
    font-size: 12px; } }
