@font-face {
  font-family:'Ah';
  src: url(../fonts/aAhaWow.ttf) format('truetype');
  font-style: normal;
  font-weight: 200;
}

$primary-color:rgb(231, 231, 231);
$font-family : Tahoma, Helvetica, sans-serif;
$darker-color: #000000;
$accent:black;
$visibility-color:white;
$third-color: #FFE639;
$light-color: #FFE639;



html{
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
    background-color:$primary-color;
    margin:0;
    padding: 0;
    min-height:100%;  
}





.full {
  max-width: 100%;
}

div {
  min-width: 0;
}

//hero section 

.hero{      
  height: 450px;
  background: url("../images/hero2.png") no-repeat center ;
  position: relative;
  background-size: cover;
     }

     
.containerH{
  position: relative;
  top: 15%;
  overflow: hidden;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.containerH h1{
  font-size:60px;
   letter-spacing: 0.2em ;
   color:black;
   margin: 10px 20px;
  font-family:verdana;
}


.tagline{
  font-family:tahoma;
  font-size: 30px;
  color:black; 
  display:block;
  margin: 30px;
}

.heroButton {
	background-color:#040f07;
  margin: 50px 20px;
  padding: 20px 24px;
	display:inline-block;
	// cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:30px;
	text-decoration:none;
	text-shadow:0px 1px 4px #ffe639;
  transition: 0.3s all;

      &endbutt {
        @extend .heroButton;
        width:250px;
        margin-left: 0%;
        position: inherit;
      }
  }



  .heroButton:hover {
    background-color:#ffe639;
    color:black
  }
  .heroButton:active {
    position:relative;
  }



  .tabhead{
    font-size: 50px;
    text-align: center;
  }

  .holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/Back-tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.service-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto ;
  margin:10px;
  grid-gap: 10px;
}

.service-card {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto ;
  grid-template-areas: "text";
  margin: 30px;
  padding: 15px 20px;
  text-align: left; 
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, BLACK, #FFE639);
}

.st{
  grid-area: text;
}

.st h1{
  font-size: 40px;
  text-align: center;
}

.st li{
  font-size: 25px;
}



.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background:url("../images/Back-cards.png");
  background-size:cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto ;
  grid-gap: 10px;
}

.home-card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto;
  grid-template-areas: "image" "title" "text";
  margin: 30px;
  background: white;
  box-shadow: 5px 5px 15px black;
  text-align: center;
}

.hi{
  grid-area: image;
  margin: 30px 0px -20px 0px;
}

.hh{
grid-area: title;
margin-bottom: -10px;

}
.ht{
  grid-area: text;
  margin: 5px 30px;
}

.hh h1{
  font-size: 50px;
}

.ht p{
  font-size: 20px;
}
  

.web-wrapper{
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}


.web-container{
  display: grid;
  grid-template-columns:auto ;
  grid-gap: 16px;
  width: 90%;
  max-width: 1500px;
}

.web-card {
  display: grid;
  grid-template-areas: "image" "text";
  margin: 8px;
  padding:30px;
  background: lightgray;
  text-align: center;
}
img{
  max-width:100%;
}
.size{
  width:40%;
}

.Wi{
  grid-area: image;
}

.Wt{
  grid-area: text;
}

.Wt h1 {
    font-size: 32px;
    margin: 8px 0;
}

.seeProject{
  background-color: black;
  text-decoration: none;
  padding:16px;
  margin:8px;
  font-size: max(8px, 20px);
  color:white;
  display: block;
  text-align: center;

    &.accent{
      background-color: #FFE639;
      color:black;
    }
      
}

.seeProject:hover{
  background-color:white;
  color:black;
}


.Wcent{
  width:100%;
  margin:0 auto;
}

.book{
height: 500px;
width:auto;
}

                // Home page grid 
                .container { 
                  display: grid;
                  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) ;
                  grid-template-rows: 1fr 1fr 1fr 1fr;
                  height:auto;
                  width: auto;
                  gap: 20px 0px;
                  grid-auto-flow: row;
                  text-align:center;
                  padding:10px;
                  position: inherit;
                }
                  
                  .container-item{
                    display:flex;
                    justify-content: center;
                    align-items:center;
                    word-break:break-word;
                    border: 1px dashed gray;
                    text-align: center;
                    background-color: white;
                    padding: 10px;
                    font-size:3em;
                  }
                
                .whoo{
                  margin:auto;
                  padding: 20px;
                }

/*General styling */

  h1 {
    text-align:center;
    margin-bottom:10px;
    padding:5px;
    font-size: 50px;
    font-family: $font-family;
}

  h3 {
      text-align:left;
      margin-left:50px;
      line-height:10%;
      font-family: $font-family;
}



.gdFoo{
  width:100%;
  height:200px;
  position: static;
  bottom: 0;
  margin-top: auto;
  background-color:$darker-color;
  color:$visibility-color;
  text-align:center;

    &.foot{
    margin-top: 20px;
}

}


/* Top Navigation */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: $darker-color;
  width: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 18px;
  text-decoration: none;
  font-size: 30px;
  margin:20px

}
.topnav a.active {
  margin-bottom: 40px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  margin-top: -2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

    /* top nav classes*/ 
          /* Topnav social media hover  */
          .sM {
            filter:gray;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: all 1s;
            height:38px;
            width: auto;

            &:hover {
              -webkit-filter: grayscale(0);
              filter: none;
            }
          }
         
          /*Name in left corner positioning*/ 
          .navItem{
             display:block;
          }

          /* name in left corner style */
          .hom {
            // font-family: $font-family;
            font-family: Ah;
            font-weight: 200;
            font-size: 30px;
            &:hover {
              border: 3px solid $third-color;
              
            }
          }


/* home page main content div*/
#parent {
  height:auto;
  min-height: 100%; 
  display: block;
  width:auto;
  position:relative;
  margin:30px auto;
  color: #444;
  text-align: left;


}
    
        #subjects {
          text-align: center;
          position: relative;
          padding-bottom: 40px;
          margin: 30px 5px;
        }

                            

     /*Grid for web and graphic pages*/
     .grid-container{
      display:grid;
      grid-template-columns:auto auto auto;
      padding:5px;
      justify-items: center;
    }

    .grItem{
      padding:10px;
      margin:10px;
      height: 400px;
      width: fit-content;
      background-color:$light-color;
      border-radius: 5px;
      position: relative;
    }


    /* web and grpahic middle navigation buttons */
.mid-parent {
  text-align:center;
  margin:20px, 30px;
}

.mid-nav {
  margin: 30px;  
  margin-bottom: 90px;
  text-decoration: none;
  color: $accent;
  padding: 10px;
  font-family: $font-family;

  &:hover {
    color:$visibility-color;
    border: 1px solid $darker-color;
    border-radius: 3%;
    padding: 10px;
  }

}



    /* web and graphic paragraph class */
    .wh {
      background-color:$visibility-color;
      height:75px;
      width:300px;
      font-family:$font-family;
      font-size: 14px;
      padding-top:10px ;
      margin-bottom:-13px;
      text-align: center;
      border-radius: 10px;
  }

/* Web design page classes */
      
      .big {
        display: block;
        width: 99%;
        text-decoration: none;
        background-color:$darker-color;
        position: static;
        text-align: center;
        bottom: 0;
        border:1px solid #000000;
        display:inline-block;
        color:white;
        font-family:Arial;
        font-size:15px;
        padding:4px 0px;
        text-decoration:none;
        overflow: auto;
        margin: 5px auto;
      }
      .big:hover {
        background-color:white;
        color:$darker-color;
      }
  

    
      

  /*Web design id*/
    #web{
      position: relative;
      min-height: 100%;
      height: auto;
      }



/* Graphic design page classes */
    
    /* Graphic design div*/
      .gi{
        width: 300px ; 
        height: 275px; 
        border: 2px solid $accent; 
        background-color:$visibility-color;
      }

/*Graphic design id*/ 
        #graphics{
        position: relative;
        min-height: 100%;
        height: auto;
        }




 /* footer classes */

                /* resume download button */
                .myResume {
                    border-radius:6px;
                    border:1px solid $third-color;
                    display:inline-block;
                    cursor:pointer;
                    color:$visibility-color;
                    font-family:$font-family;
                    font-size:15px;
                    font-weight:bold;
                    padding:13px 49px;
                    text-decoration:none;
                    margin:40px 10px ;

                    &:hover {
                      background-color:$third-color;
                    }
                  }
                
                .myResume:active {
                    position:relative;
                    top:1px;      
                }
                /* Website copyright */
                .center{
                  text-align: center;
                }
                



/* media queries */
@media screen and (max-width:1400px){
  .container{
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
  }
}

@media screen and (min-width: 1440px){

  .parent{
    height: fit-content;
  }

}



@media screen and (max-width:1170px){
  .grid-container {
    display:grid;
    grid-template-columns:auto;
}
  .grItem{
  margin:5px auto;
 }

 .st h1{
  font-size: 20px;
 }

 .st li{
  font-size: 15px;
 }

}

@media screen and (max-width:880px){
  .topnav a.active {
      display: none; 
   }
  .navItem{
    margin: auto;
    text-align: center;
  }

   .grid-container {
    display:grid;
    grid-template-columns:auto;
    }
    .heroButton{
      margin: 10px;     
     }
     .tagline{
      margin: 15px;
     }
  }

  @media screen and (max-width:830px) {
    .service-container {
      grid-template-columns: auto;
     }
  
    
  }

  @media screen and (max-width:770px){
  
    .service-card{
      grid-template-columns: 129;
      grid-template-rows: 210;
      padding: 5px 20px;
     }

     .st ul{
      padding: 0 15px;
     }

     .st li{
      font-size: 19px;
     }
     .web-card {
      padding: 0;
     }
     
  }

  


  @media screen and (max-width: 700px){
         
      /* home page div */
    
        #parent{
          min-height: 100%; 
          height: auto;
          display:block;
        }
        .home-container {
          grid-template-columns: auto;
           margin: 20px 10px;
         }
      

         .hi{
          margin: 20px 0px -10px 0px;
        }
        
        .ht{
          margin: 5px 15px;
        }
        
        .hh h1{
          font-size: 20px;
        }
        
        .ht p{
          font-size: 15px;
        }
    
     /*Grid on web and graphic*/ 
      .Wt a{
      font-size: .7rem;
      }
          .grid-container {
              display:grid;
              grid-template-columns:auto;
          }
    
          .grItem {
              margin:5px auto;
          }
          // .wi {
          //     margin:5px auto ;
          //  }
           .gi{
            margin:5px auto ;
           }
    }
    
    
    @media screen and (max-width: 660px){
    .topnav a{
      font-size: 50px;
      }

     
    }  

  @media screen and (max-width: 500px){
  

.containerH h1{
  font-size: 40px;
  padding: 10px 0;
}

.tagline{
  font-size: 20px;
  margin:10px;
}

.heroButton{
  font-size: 17px;
  padding: 15px 14px;
  margin: 10px;
}

    .whoo{
      font-size:25px;
  }

  .Wt h1 {
    font-size: 1rem;
    margin: 0;
}
    .Wt a {
     font-size: .5rem;
     margin: 0.7em;
}
    
  }
    
    @media screen and (max-width: 450px){

      h1 {
        font-size: 35px;
      }
      .tabhead{
        font-size: 40px;
      }

      .topnav-right{
        margin:5%;
        text-align: center;
      }

      /* home page divs */

      .route{
        margin:0 auto;
      }
      

     #subjects {
      margin: 0, auto;
      position: relative;
     }



     @media screen and (max-width: 449px){
       
      
      .topnav a{
      margin:5px;
      }
  
      .topnav-right{
        margin:5%;
        text-align: center;
      }

      .containerH h1{
        font-size: 30px;
        padding: 10px 0;
      }
 
      #subjects {
       margin: 0, auto;
       position: relative;
      }
      .whoo{
          font-size:20px;
      }

    
      .wrapper {
        background-position: left;
        background-attachment: scroll;

      }

      .parent{
        display:inline-block;
      }
    }

    @media screen and (max-width: 350px){

      .service-card{
        margin: 15px 30px;
        grid-template-columns: 210px;
      }
      
      .st h1{
      font-size: 20px;
    }
    
    .st li{
      font-size: 18px;
    }

      .home-container{
        margin: 0, 10px;
      }
      .home-card{
        grid-template-columns: auto;

      }

      .hh h1{
      font-size: 20px;
    }
    
    .ht p{
      font-size: 12px;
    }
    }

 }