$primary-color:rgb(231, 231, 231);
$font-family : Arial, Helvetica, sans-serif;
$darker-color: #000000;
$accent:black;
$visibility-color:white;
$third-color: #FFE639;
$light-color: #FFE639;



html{
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
    background-color:$primary-color;
    margin:0;
    padding: 0;
    min-height:100%;  
}


.modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  box-align: center;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  z-index:1;
}


.modal {
  background-color: #ffff;
  width: 800px;
  height: 100vh;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
  overflow:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}
.close{
        display: block;
        width: 100%;
        border: none;
        font-size: 20px;
        text-decoration: none;
        color:$darker-color;
        margin-top:10px;
        padding: 14px 28px;
        font-size: 16px;
        background-color: white;
}
.close:hover{
  color:white;
  background-color:$darker-color;
}
.shown{
  overflow: auto;

}

/*General styling */

  h1 {
    text-align:center;
    margin-bottom:10px;
    padding:5px;
    font-size: 50px;
    font-family: $font-family;
}

  h3 {
      text-align:left;
      margin-left:50px;
      line-height:10%;
      font-family: $font-family;
}

table {
  font-family: Helvetica, serif;
  border-collapse: collapse;
  color:$darker-color
  // width: 100%;
}

table.center {
  opacity: 1;
  font-family: Helvetica, serif;
  border-collapse: collapse;
  margin-left: 30%; 
  margin-right: 20%;
  padding: 10px;
  text-align: center;
}

td, th {
  border: 2px solid #FFE639;
  text-align: left;
  padding: 10px;
  background-color: white;
}

th{
  background-color: #000000;
  color: white;
  }

ul {
  list-style-image: linear-gradient(to left bottom, yellow, black);
}


.gdFoo{
  width:100%;
  height:200px;
  position: static;
  bottom: 0;
  margin-top: auto;
  background-color:$darker-color;
  color:$visibility-color;
  text-align:center;

    &.foot{
    margin-top: 20px;
}

}


/* Top Navigation */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: $darker-color;
  width: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 18px;
  text-decoration: none;
  font-size: 30px;
  margin:20px

}
.topnav a.active {
  margin-bottom: 40px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  margin-top: -2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

    /* top nav classes*/ 
          /* Topnav social media hover  */
          .sM {
            filter:gray;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: all 1s;
            height:38px;
            width: auto;

            &:hover {
              -webkit-filter: grayscale(0);
              filter: none;
            }
          }
         
          /*Name in left corner positioning*/ 
          .navItem{
             display:block;
          }

          /* name in left corner style */
          .hom {
            font-family: $font-family;
            &:hover {
              border: 3px solid $third-color;
            }
          }

          



/*Home page grid */
  .grid-home {
      display:grid;
      grid-template-columns:auto auto ;
      padding:10px; 
}

  .grid-Ihome {
      padding-top:5px;
      padding-bottom: 30px;
}





/* home page main content div*/
#parent {
  height:auto;
  min-height: 100%; 
  display: block;
  width:auto;
  position:relative;
  margin:30px auto;
  color: #444;
  text-align: left;

}
      #about {
        margin:30px auto;
        padding-bottom: 15px;
        position: relative;
        color: $visibility-color;
        font-size: 18px;
        font-family: $font-family;
        background-color: $visibility-color;
        background:url(../images/place.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
       }

        /* Logo section in parent div */
        #logo {
          margin:20px 20px;
          padding-bottom: -30px;
          text-align:center ;
          display: none;
          }
       /* second section in parent div */
        #info {
          margin-top:20px;
          color:$accent;
          margin-left:15px;
          }
        /* graphic and web design section buttons */
        #subjects {
          text-align: center;
          position: relative;
          padding-bottom: 50px;
          margin-top: 30px;
          margin-bottom:30px;
        }

      /*Home page classes */

            /* second section parent div class */
            .own {
              position: relative;
              }

            /* H3 homepage */
            .title {
              color:$darker-color;
              margin-left: -4px;
              }

            /* Home page paragraph style */
            .facts {
              margin:10px 10px 10px;
              position: relative;
              width:auto;
              }

              /* Image class in subject section */
               .path {
                border: 5px solid $accent;
                
                  &:hover {
                    border: 5px solid  $third-color;
                  }
              }
                   
                
               /* a href class in subject section */
                .route {
                  margin:20px;
                  position:relative;
                }

     /*Grid for web and graphic pages*/
     .grid-container{
      display:grid;
      grid-template-columns:auto auto auto;
      padding:5px;
      justify-items: center;
    }

    .grItem{
      padding:10px;
      margin:10px;
      height: 400px;
      width: fit-content;
      background-color:$light-color;
      border-radius: 5px;
      position: relative;
    }


    /* web and grpahic middle navigation buttons */
.mid-parent {
  text-align:center;
  margin:20px, 30px;
}

.mid-nav {
  margin: 30px;  
  margin-bottom: 90px;
  text-decoration: none;
  color: $accent;
  padding: 10px;
  font-family: $font-family;

  &:hover {
    color:$visibility-color;
    border: 1px solid $darker-color;
    border-radius: 3%;
    padding: 10px;
  }

}



    /* web and graphic paragraph class */
    .wh {
      background-color:$visibility-color;
      height:75px;
      width:300px;
      font-family:$font-family;
      font-size: 14px;
      padding-top:10px ;
      margin-bottom:-13px;
      text-align: center;
      border-radius: 10px;
  }

/* Web design page classes */

      /* div code link */
      // .big {
      //   font-size: 20px;
      //   text-decoration: none;
      //   color: $accent;
      //   padding: 10px;
      //   font-family: $font-family;
      //   border: none;

      // }
      
      .big {
        box-shadow: 0px 0px 0px 0px $darker-color;
        background-color:$darker-color;
        border-radius:10px;
        border:1px solid #18ab29;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:4px 6px;
        text-decoration:none;
        overflow: auto;
        margin: 5px auto;
      }
      .big:hover {
        background-color:white;
        color:$darker-color;
      }
  

      .alpha{
        text-decoration: none;
        color: white;
      }
      .alpha:hover{
        color:$darker-color; ;
      }
      
     /*website design div */
      .wi{
        width:300px; 
        height:275px; 
        border: 2px solid $accent; 
        background-color:$accent;
      }

  /*Web design id*/
    #web{
      position: relative;
      min-height: 100%;
      height: auto;
      }



/* Graphic design page classes */
    
    /* Graphic design div*/
      .gi{
        width: 300px ; 
        height: 275px; 
        border: 2px solid $accent; 
        background-color:$visibility-color;
      }

/*Graphic design id*/ 
        #graphics{
        position: relative;
        min-height: 100%;
        height: auto;
        }




 /* footer classes */

                /* resume download button */
                .myResume {
                    border-radius:6px;
                    border:1px solid $third-color;
                    display:inline-block;
                    cursor:pointer;
                    color:$visibility-color;
                    font-family:$font-family;
                    font-size:15px;
                    font-weight:bold;
                    padding:13px 49px;
                    text-decoration:none;
                    margin:40px 10px ;

                    &:hover {
                      background-color:$third-color;
                    }
                  }
                
                .myResume:active {
                    position:relative;
                    top:1px;      
                }
                /* Website copyright */
                .center{
                  text-align: center;
                  display:inline-flex
                }

/* media queries */
@media screen and (max-width:1170px){
  .grid-container {
    display:grid;
    grid-template-columns:auto;
}
  .grItem{
  margin:5px auto;
 }
 table.center {
  margin-left: auto; 
  margin-right: auto;
}
}

@media screen and (max-width:880px){
  .topnav a.active {
      display: none; 
   }
  .navItem{
    margin: auto;
    text-align: center;
  }
   .own{
     margin-right:10px;
   }
   .grid-container {
    display:grid;
    grid-template-columns:auto;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
  }

  @media screen and (max-width: 879px){
    #logo{
      display: block;
    }
  }

  @media screen and (max-width: 700px){
    /* home page Grid*/
          .grid-home{
          display:grid;
          grid-template-columns:auto;
          margin:0 auto;
          }
    
          .grid-Ihome{
          display:grid;
          margin:0 auto;
          grid-template-columns:auto;
          }
         
      /* home page div */

        #parent{
          min-height: 100%; 
          height: auto;
          display:block;
        }
        .route{
          margin: 0, auto;
          padding: 2px;
        }
    
     /*Grid on web and graphic*/
          .grid-container {
              display:grid;
              grid-template-columns:auto;
          }
    
          .grItem {
              margin:5px auto;
          }
          .wi {
              margin:5px auto ;
           }
           .gi{
            margin:5px auto ;
           }
    }
    
    
    @media screen and (max-width: 660px){
    .topnav a{
      font-size: 50px;
      }

      /* home page Grid*/
      .grid-home{
        grid-template-columns:auto;
        margin:0 auto;
        }
  
        .grid-Ihome{
        grid-template-columns:auto;
        margin:0 auto;
        }
    }  
    @media screen and (max-width: 450px){
       
      /* home page divs */
     #about{
       margin:0, auto;
       position: relative;
     }
     #subjects {
      margin: 0, auto;
      position: relative;
     }
 }